salt-api.json
[
    {
        "id": "22b75f0f.1524c",
        "type": "function",
        "z": "ec56afeb.773d9",
        "name": "Gen Func",
        "func": "msg.headers = {\n    'Content-type': 'application/json',\n    'X-Auth-token': '<YOUR-AUTH-TOKEN>'\n}\n\nmsg.payload = {\n    'client': 'local',\n    'tgt': '<MINION>',\n    'fun': 'test.ping'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 251,
        "y": 161,
        "wires": [
            [
                "1e1dc1d8.7d888e"
            ]
        ]
    },
    {
        "id": "1e1dc1d8.7d888e",
        "type": "http request",
        "z": "ec56afeb.773d9",
        "name": "Salt REQ",
        "method": "POST",
        "ret": "obj",
        "url": "https://<SALT-MASTER:API_PORT>",
        "tls": "",
        "x": 357,
        "y": 255,
        "wires": [
            [
                "5c98c4c3.9183bc",
                "d47c63cd.8ace6"
            ]
        ]
    },
    {
        "id": "5c98c4c3.9183bc",
        "type": "debug",
        "z": "ec56afeb.773d9",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 572,
        "y": 203,
        "wires": []
    },
    {
        "id": "59b85ab4.686ad4",
        "type": "ui_button",
        "z": "ec56afeb.773d9",
        "name": "Test Ping Minion",
        "group": "c32d81d.493f88",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Ping Minion",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 111,
        "y": 222,
        "wires": [
            [
                "22b75f0f.1524c"
            ]
        ]
    },
    {
        "id": "d47c63cd.8ace6",
        "type": "ui_text",
        "z": "ec56afeb.773d9",
        "group": "c32d81d.493f88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Output",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 599,
        "y": 283,
        "wires": []
    },
    {
        "id": "780bbbd4.2a52c4",
        "type": "inject",
        "z": "ec56afeb.773d9",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 99,
        "y": 76,
        "wires": [
            [
                "22b75f0f.1524c"
            ]
        ]
    },
    {
        "id": "c32d81d.493f88",
        "type": "ui_group",
        "z": "",
        "name": "Ping",
        "tab": "72b3b078.366ff",
        "disp": true,
        "width": "6"
    },
    {
        "id": "72b3b078.366ff",
        "type": "ui_tab",
        "z": "",
        "name": "Salt Command",
        "icon": "dashboard"
    }
]

